@import "../../../../../style/colors.scss";

.new-donation {
  .donator-btns {
    width: fit-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;

    button {
      width: 150px;
      background-color: #fff !important;
      color: $orange500 !important;
      border: 1px solid $orange500 !important;

      &.active {
        background-color: $orange500 !important;
        color: #fff !important;
      }
    }
  }
}
