@import "../../../../style/colors.scss";

.examination-header {
  .nav-bar {
    display: inline-flex;
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 10px;

    .nav-item {
      background-color: #fff !important;
      color: $orange500 !important;
      border: 1px solid $orange500 !important;

      &:hover,
      &.active {
        background-color: $orange500 !important;
        color: white !important;
      }
    }
  }
}

.appointment {
  .table-container {
    .cancel-btn {
      background-color: $red !important;
    }
  }
}

.history {
  .table-container {
    .info-btn {
      background-color: $green !important;
    }
  }
}
