@import "../../../../style/colors.scss";

.view-pet {
  .info {
    background-color: $orange300;
    padding: 25px 35px;
    border-radius: 20px;
  }

  .report {
    background-color: $orange300;
    padding: 25px 35px;
    border-radius: 20px;
    margin-bottom: 20px;

    .divider {
      margin: 0;
      margin-bottom: 20px;
    }

    .gallery {
      img {
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
      }
    }

    .report-btn {
      margin: -10px 0 10px 0;
    }
  }
}
