// --orange
$orange100: #fdf4dc;
$orange200: #ffeac6;
$orange300: #ffdc9e;
$orange400: #ffd282;
$orange500: #ffc45b;
$orange600: #c69c52;
$orange700: #cb8a17;

// --other
$light: #ffffff;
$dark: #333333;
$green: #63b88f;
$red: #e46c38;
