@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~antd/dist/antd.css";
@import "./colors.scss";
@import "./responsive.scss";

* {
  font-family: "Quicksand";
}

#root {
  background-color: $orange100;
}

// common tag
h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 16px;
  color: $dark;
}
label {
  font-size: 16px !important;
}
input {
  height: 40px !important;
  border-radius: 10px !important;
  font-size: 16px !important;
}
button {
  height: 40px !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  background-color: $orange500 !important;
  color: $light !important;

  &:hover {
    background-color: $orange500 !important;
    color: $light !important;
  }

  &:disabled {
    background-color: #00000010 !important;
  }
}
table {
  th {
    font-size: 16px;
    color: $dark !important;
    border-bottom: none !important;
    background-color: $orange300 !important;

    &::before {
      background-color: unset !important;
    }
  }

  tbody tr {
    background-color: $orange200;
    color: $dark;
    font-size: 16px;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: $orange200;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: $orange200;
  }
}

//common class
.input-password {
  height: 40px !important;
  display: flex;
  align-items: center;
  border-radius: 10px !important;
}
.ant-input-affix-wrapper > input.ant-input {
  height: 38px !important;
}
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  border-radius: 10px;
}
.container {
  padding: 25px 50px;
}
.table-container {
  button {
    height: 30px !important;
  }
  .blue-btn {
    background-color: #4b99d8 !important;
  }
  .green-btn {
    background-color: $green !important;

    &:disabled {
      background-color: #00000010 !important;
    }
  }
  .red-btn {
    background-color: $red !important;

    &:disabled {
      background-color: #00000010 !important;
    }
  }
  .white-btn {
    background-color: white !important;
    color: $orange400 !important;

    &:disabled {
      background-color: #00000010 !important;
    }
  }
}
.select {
  .ant-select-selector {
    border-radius: 10px !important;
    height: 40px !important;
    align-items: center;
    font-size: 16px !important;
    color: #00000090;
  }
}
.date-picker {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.ant-picker-panel-container {
  .ant-picker-header {
    button {
      background-color: #fff !important;
      color: $orange500 !important;
    }
  }

  .ant-picker-body {
    th {
      color: $dark !important;
      border-bottom: none !important;
      background-color: unset !important;

      &::before {
        background-color: unset !important;
      }
    }

    tbody tr {
      background-color: unset !important;
      color: $dark;
      font-size: 16px;
    }
  }

  .ant-picker-footer {
    button {
      background-color: #fff !important;
      color: $orange500 !important;
      box-shadow: none;
    }
  }
}
.avatar-upload {
  position: relative;

  .delete-upload-icon {
    background-color: $red;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 99999;
  }

  img {
    width: 102px;
    height: 102px;
    object-fit: cover;
    object-position: center;
  }

  .hover-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #00000050;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s linear;

    .hover-icon {
      color: white;
      font-size: 20px;
    }
  }

  .loading-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #00000050;

    .loading-icon {
      color: white;
      font-size: 20px;
    }
  }

  &:hover {
    .hover-layer {
      opacity: 1;
      visibility: visible;
    }
  }
}
.back-btn {
  background-color: #fff !important;
  color: $orange500 !important;
  width: 40px !important;
  border-radius: 50px !important;
  box-shadow: 0 0 10px #00000005 !important;

  &:hover {
    background-color: #fff !important;
    color: $orange500 !important;
    box-shadow: 0 0 10px #00000020 !important;
  }
}

.chat {
}
