@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "~antd/dist/antd.css";
@import "./colors.scss";
@import "./responsive.scss";

* {
  font-family: "Quicksand";
}

#root {
  background-color: $orange100;
}

// common tag
h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 16px;
  color: $dark;
}
label {
  font-size: 16px !important;
}
input {
  height: 40px !important;
  border-radius: 10px !important;
  font-size: 16px !important;
}
button {
  height: 40px !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  background-color: $orange500 !important;
  color: $light !important;

  &:hover {
    background-color: $orange500 !important;
    color: $light !important;
  }

  &:disabled {
    background-color: #00000010 !important;
  }
}
table {
  th {
    font-size: 16px;
    color: $dark !important;
    border-bottom: none !important;
    background-color: $orange300 !important;

    &::before {
      background-color: unset !important;
    }
  }

  tbody tr {
    background-color: $orange200;
    color: $dark;
    font-size: 16px;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: $orange200;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: $orange200;
  }
}

//common class
.input-password {
  height: 40px !important;
  display: flex;
  align-items: center;
  border-radius: 10px !important;
}
.ant-input-affix-wrapper > input.ant-input {
  height: 38px !important;
}
.container {
  padding: 25px 50px;
}
.table-container {
  button {
    height: 30px !important;
  }
  .info-btn {
    background-color: #4b99d8 !important;
  }
  .edit-btn {
    background-color: $green !important;

    &:disabled {
      background-color: #00000010 !important;
    }
  }
  .password-btn {
    background-color: $red !important;

    &:disabled {
      background-color: #00000010 !important;
    }
  }
}
.select {
  .ant-select-selector {
    border-radius: 10px !important;
    height: 40px !important;
    align-items: center;
    font-size: 16px !important;
  }
}
.date-picker {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.ant-picker-panel-container {
  .ant-picker-header {
    button {
      background-color: #fff !important;
      color: $orange500 !important;
    }
  }

  .ant-picker-body {
    th {
      color: $dark !important;
      border-bottom: none !important;
      background-color: unset !important;

      &::before {
        background-color: unset !important;
      }
    }

    tbody tr {
      background-color: unset !important;
      color: $dark;
      font-size: 16px;
    }
  }

  .ant-picker-footer {
    button {
      background-color: #fff !important;
      color: $orange500 !important;
      box-shadow: none;
    }
  }
}
